streamlit
langchain
langchain-core
langchain-text-splitters
langchain-groq
langchain-huggingface
langchain-community
faiss-cpu
youtube-transcript-api >=1.0.0
python-dotenv
sentence-transformers
groq
huggingface-hub
